body {
  background-color: black;
}
body {
  color: white;
}
header {
  font-family: Rajdhani, sans-serif;
}
body {
  font-family: Rajdhani, sans-serif;
}
ol {
  margin-top: 30px;
  margin-bottom: 60px;
}
ul {
  margin-top: 30px;
  margin-bottom: 60px;
}
footer {
  margin-top: 60px;
}
.article-one {
  margin-bottom: 60px;
}
