body {
  background: linear-gradient(black, #6B0000);
}
body {
  color: white;
}
header {
  font-family: Rajdhani, sans-serif;
  margin-top: 96px;
}
body {
  font-family: Rajdhani, sans-serif;
}
ol {
  margin-top: 30px;
  margin-bottom: 60px;
}
ul {
  margin-top: 30px;
  margin-bottom: 60px;
  list-style: none;
}
footer {
  margin-top: 60px;
  margin-bottom: 96px;
}
.article-one {
  margin-bottom: 60px;
}
p {
  margin-top: 30px;
  margin-left: 96px;
  margin-right: 96px;
}
a {
  color: grey;
}
a:hover {
  color: red;
}
